oh-tree-view {
 
    .action-wrapper {

      border-bottom: 1px solid #a2acb4;
      font-family: "Courier New", Courier, monospace;
 
      .search-node {
      
        .mat-icon {
          cursor: pointer;
          font-size: 14px !important;
          margin-left: -18px;
          margin-bottom: -12px;
        }
      }

      .action-node {

        margin-left: 0px !important;
        margin-right: 6px !important;
        mat-icon {

           border-color: transparent;
           cursor: pointer;  
        }
      }

      .check-all {

          .mat-checkbox-layout {

            .mat-checkbox-inner-container {
              width: 20px;
              height: 20px;
            }
          }
        }
    } 
  
  .oh-tree-wrapper {

    height: calc(100vh - 280px);
    overflow-y: scroll;

  }
 
  .oh-tree {

    margin: 0;
    list-style-type: none;
    padding-left: 0;

    mat-icon {
      position: relative;
      float: left;
      top: -1px;
      margin-right: 5px;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .show-node {
    display: block;
    line-height: 35px;
  }

  .hide-node {
    display: none;
  }

  .collapsible-node {
    margin-left: 20px;
  }

  .toggle-node-show {
    display: block;
  }

  .toggle-node-hide {
    display: none;
  }
}
