<div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="10px" fxLayoutAlign="start center"
    class="action-wrapper">
    <div fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="start center" fxFlex="calc(100% - 10px)">

        <div fxLayout.xs="column" fxLayout.md="column" class="action-node">
            <mat-icon [matMenuTriggerFor]="menuFilter" matTooltip="{{ 'Actions' }}">more_vert</mat-icon>
            <mat-menu #menuFilter="matMenu">
                <button mat-menu-item matTooltip="{{ expanded ? 'Collapse All' : 'Expand All' }}"
                    (click)="filterNode(expanded ? 'collapseAll' : 'expandAll')">
                    <mat-icon>{{expanded ? 'chevron_right' : 'expand_more'}}</mat-icon>
                    <span>{{ expanded ? 'Collapse All' : 'Expand All' }}</span>
                </button>
                <button mat-menu-item matTooltip="{{ 'Show All' }}" (click)="filterNode('all')">
                    <mat-icon>done_all</mat-icon>
                    <span>{{ 'Show All' }}</span>
                </button>
                <button mat-menu-item matTooltip="{{ 'Show Checked' }}" (click)="filterNode('checked')">
                    <mat-icon>check_box</mat-icon>
                    <span>{{ 'Show Checked' }}</span>
                </button>
                <button mat-menu-item matTooltip="{{ 'Show UnChecked' }}" (click)="filterNode('unchecked')">
                    <mat-icon>check_box_outline_blank</mat-icon>
                    <span>{{ 'Show UnChecked' }}</span>
                </button>
            </mat-menu>
        </div>

        <div fxLayout.xs="column" fxLayout.md="column" class="check-all">
            <mat-checkbox [checked]="checkedAll" [indeterminate]="indeterminate"
                matTooltip="{{ checkedAll ? 'UnCheck All' : 'Check All'}}" (change)="checkAll($event)">
                {{ 'Check All' }}
            </mat-checkbox>
        </div>

        <div *ngIf="searchable" fxLayout.xs="column" fxLayout.md="column" class="search-node">
            <mat-form-field class="h-44">
                <input #searchInput matInput type="text" placeholder="{{ 'Search' }}" (input)="searchNode($event)" />
                <mat-icon *ngIf="searchText != null && searchText !== ''" matTooltip="{{ 'Clear' }}"
                    (click)="clearSearch()" matSuffix>close</mat-icon>
            </mat-form-field>
        </div>

    </div>
</div>

<div class="oh-tree-wrapper">

    <ul *ngFor="let parent of rootNode; trackBy: trackIndex" class="oh-tree">
        <li [ngClass]="(parent.visible && parent.searched) ? 'show-node' : 'hide-node'">

            <mat-icon *ngIf="hasChild(parent)"
                [ngClass]="(parent.visible && parent.searched) ? 'show-node' : 'hide-node'"
                (click)="openCloseNode(parent)">
                {{ parent.expanded ? 'expand_more' : 'chevron_right'}}
            </mat-icon>

            <mat-checkbox [checked]="parent.checked" [indeterminate]="parent.indeterminate" [disabled]="parent.disabled"
                (change)="onCheckChange(parent)">
                {{parent.node}}
            </mat-checkbox>

            <ul *ngIf="hasChild(parent)" class="collapsible-node"
                [ngClass]="parent.expanded ? 'show-node' : 'hide-node'">
                <ng-container *ngTemplateOutlet="recursiveNode; context: { $implicit: parent }">
                </ng-container>
            </ul>
        </li>
    </ul>

    <ng-template #recursiveNode let-parent>
        <li *ngFor="let child of getNode(parent, 'childNode'); trackBy: trackIndex"
            [ngClass]="(child.visible && child.searched) ? 'show-node ' : 'hide-node'">

            <mat-icon *ngIf="this.hasChild(child)"
                [ngClass]="(child.visible && child.searched) ? 'show-node ' : 'hide-node'"
                (click)="openCloseNode(child)">
                {{child.expanded ? 'expand_more' : 'chevron_right'}}
            </mat-icon>

            <mat-checkbox [checked]="child.checked" [indeterminate]="child.indeterminate" [disabled]="child.disabled"
                (change)="onCheckChange(child)">
                {{child.node}}
            </mat-checkbox>

            <ul *ngIf="hasChild(parent)" class="collapsible-node"
                [ngClass]="child.expanded ? 'show-node' : 'hide-node'">
                <ng-container *ngTemplateOutlet="recursiveNode; context: { $implicit: child }">
                </ng-container>
            </ul>
        </li>
    </ng-template>
</div>