.mat-checkbox {
  margin: 3px;
}

.mat-button-toggle {
  color: #000;
}

.mat-tab-body {
  background-color: #fafafa;
  width: 100vw;
  height: 100vh;
}

.mat-card {
  margin: 10px;
}

.mat-tab-label-active {
  background-color: rgb(242, 242, 242);
}

.mat-radio-button {
  margin: 5px;
}
